<div>
  <p>Dear <strong>${fullName}</strong>!</p>

  <p>Your <strong>"${examName}"</strong> ${eventType} in Russian National Research Medical University (Pirogov University) will
    be held ONLINE on  <strong>${examDate}</strong> on the following server: <a href="${serverAddress}">${serverAddress}</a>.</p>
  <p>
    Duration of the ${eventType} is ${examDuration}.
    #if ($examPeriod) The server will be available ${examPeriod}.
    You can start your work anytime you want but you have to finish before this period end.
  #else You can start your work anytime you want during the day.#end</p>

  <p>To access the ${eventType} use the following data:</p>
  <table>
    <tr><td>Server:</td><td><strong><a href="${serverAddress}">${serverAddress}</a></strong> </td></tr>
    <tr><td>Login:</td><td><strong>${testeeLogin}</strong></td></tr>
    <tr><td>Password:</td><td><strong>${testeePassword}</strong></td></tr>

  </table>

  #if($useProctoring)
    <p>Your ${eventType} will proceed with the proctoring system “Proctor Edu” which is used to confirm your identity,
      observe the exam procedure and ensure your compliance with the regulations.

      You must read <a href="http://pirogov-university.com/fileadmin/templates/DOC/admission/Proktoring.pdf">rules of remote entrance examinations</a>
      before you start the work. You can check your hardware and software by using the link <a href="https://proctoredu.ru/check">https://proctoredu.ru/check</a>.
    </p>

    <p>Before the start make sure that you have your passport and smartphone with you, there are no unnecessary items on your table,
      the lighting is adequate and the noise level is appropriately low. Your should use desktop computer or laptop with webcam,
      using smartphone is not available.
    </p>

    <p><strong>Note</strong> that when you use your login and password you agree that the whole procedure, including
      your webcam translation and your personal data will be recorded and saved in order to ensure your compliance
      with the regulations.
    </p>
  #end

  <p>Best regards, RNRMU (Pirogov University)<br/>
    <a href="mailto:${replyEmail}">${replyEmail}</a> </p>
  <p>Please do not reply to this message.</p>
</div>
