<div>
<p>Уважаемый(ая) <strong>${fullName}</strong>!</p>

  <p>Ваш вступительный экзамен по предмету <strong>"${examName}"</strong> в
    Российском национальном исследовательском медицинском университете им. Н.И.Пирогова
    назначен на <strong>${examDate}</strong>. </p>
    <p>Экзамен пройдет в дистанционном режиме на сервере <a href="${serverAddress}">${serverAddress}</a>.
      Длительность экзамена ${examDuration}. Вы можете начать в любое время в течении дня.</p>

  <p>Для доступа к экзамену используйте следующие данные:</p>
  <table>
    <tr><td>Адрес сервера</td><td><strong><a href="${serverAddress}">${serverAddress}</a></strong> </td></tr>
    <tr><td>Логин</td><td><strong>${testeeLogin}</strong></td></tr>
    <tr><td>Пароль</td><td><strong>${testeePassword}</strong></td></tr>


  </table>

  <p>Для подтверждения личности, наблюдения за ходом экзамена, проверки соблюдения правил и оценки доверия
    применяется система прокторинга "Proctor Edu". Обязательно ознакомтесь
    <a href="https://docs.google.com/document/d/1cYMMmPDc8N1GplXKVrC8DR3rq7x1jd2xP6627GmZq3o/preview">с инструкцией для участника</a>.
    </p>

  <p>Пожалуйста, перед экзаменом не забудьте приготовить Ваш паспорт, убрать со стола все ненужные вещи,
    обеспечить хорошее освещение и тишину в комнате, где Вы будете сдавать экзамен. Все необходимые
    справочные материалы, если такие разрешены по ходу экзамена, будут предоставлены на странице экзамена.</p>

  <p><strong>Обратите внимание</strong>, что используя данные логин и пароль, Вы соглашаетесь с тем, что процесс экзамена,
    Ваше изображение и Ваши паспортные данные будут записаны и сохранены с целью проверки правильности
    прохождения данного экзамена.</p>

  <p>С уважением, ${signature}<br/>
    <a href="mailto:${replyEmail}">${replyEmail}</a> </p>
  <p>Пожалуйста, не отвечайте на это сообщение</p>
</div>